.main {
  width: 90vw;
  max-width: 1200px;
  text-align: center;
  margin: 20px auto;
}

.contents {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.reservation-table {
  margin: 0 auto;
}

.reservation-table__row {
  border-bottom: 1px solid gray;
}

.reservation-table__header {
  border-top: 1px solid gray;
  padding: 20px;
}

.reservation-table__data {
  padding: 20px;
}