.manage-shop-form__name,
.manage-shop-form__select,
.manage-shop-form__detail,
.manage-shop-form__img {
  border: none;
  border-radius: 3px;
  margin: 5px 0;
  padding: 8px;
}

.manage-shop-form__name,
.manage-shop-form__detail,
.manage-shop-form__img {
  width: 100%;
}

.manage-shop-form__select {
  width: 150px;
}

.manage-shop-form__detail {
  height: 100px;
}

.edit-shop-form__label {
  display: block;
  font-weight: 600;
  color: gray;
}

.form__error {
  color: red;
  height: 20px;
  margin-left: 3px;
}

.right {
  text-align: right;
}

/* modal */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
  background-color: #f4f4f4;
  margin: 20% auto;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modal-open;
  animation-duration: 1s;
}

@keyframes modal-open {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.modal__header h1 {
  margin: 1rem auto;
}

.modal__header {
  background: lightblue;
  padding: 3px 15px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.modal--close {
  font-size: 2rem;
}

.modal--close:hover {
  cursor: pointer;
}

.modal__body {
  padding: 10px 20px;
  color: black;
}