.main {
  margin: 30px auto;
  width: 30vw;
  min-width: 360px;
  box-shadow: 2px 2px 4px #6c6b6b;
}

.title {
  padding: 10px;
  background-color: rgb(58, 103, 250);
  color: white;
  border-radius: 3px 3px 0 0;
}

.gray-icon {
  color: #44526a;
}

input {
  height: 25px;
  border: none;
  margin: 5px 0;
  padding: 5px;
  outline: none;
  border-bottom: 2px solid gray;
  border-radius: 0;
  width: 85%;
}

input:focus {
  border-bottom-color: skyblue;
}

.button-area {
  text-align: right;
}

.login-form,
.verify-form,
.register-form,
.verify-message {
  background-color: white;
  padding: 15px;
  border-radius: 0 0 3px 3px;
}

.thanks-message {
  background-color: white;
  padding: 50px 15px;
  text-align: center;
  border-radius: 3px;
}

.link-btn {
  color: white;
}

.form__error {
  color: red;
  margin-left: 25px;
}