body {
  background-color: gainsboro;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 18px;
}

.header__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 8vw;
}

.option__title {
  display: none;
}

/* ハンバーガーメニュー */
.header__menu {
  display: flex;
  align-items: center;
  position: relative;
}

button.hamburger-menu {
  width: 36px;
  height: 36px;
  position: relative;
  border: none;
  background: rgb(58, 103, 250);
  appearance: none;
  padding: 0;
  box-shadow: 0 3px 3px 0 gray;
  border-radius: 5px;
  z-index: 9999;
}

span.hamburger-menu__bar {
  display: inline-block;
  height: 1px;
  background: white;
  margin: 0;
  position: absolute;
  left: 22%;
  transform: translateX(-0%);
  transition: .5s;
}

.hamburger-menu__bar:first-child {
  top: 12px;
  width: 22%;
}

.hamburger-menu__bar:nth-child(2) {
  top: 18px;
  width: 50%;
}

.hamburger-menu__bar:last-child {
  top: 24px;
  width: 10%;
}

.hamburger-menu--open .hamburger-menu__bar {
  top: 50%;
}

.hamburger-menu--open .hamburger-menu__bar:first-child {
  left: 50%;
  width: 44%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.hamburger-menu--open .hamburger-menu__bar:last-child {
  left: 50%;
  width: 44%;
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.hamburger-menu--open .hamburger-menu__bar:nth-child(2) {
  display: none;
}

.navigation {
  display: none;
  background: white;
  position: absolute;
  top: -50px;
  width: 100%;
  height: 120%;
  z-index: 9999;
}

.navigation__list {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 200px 0;
}

.navigation__link {
  color: rgb(58, 103, 250);  font-weight: 700;
  text-decoration: none;
  display: block;
  padding: 10px 0;
  transition: .5s;
}
/* ハンバーガーメニューここまで */

.header__title {
  font-size: 20px;
  font-weight: 600;
  padding-left: 15px;
  color: rgb(58, 103, 250);
}

.alert-success {
  padding: 10px 30px;
  border-color: #badbcc;
  background-color: #d1e7dd;
  color: #0f5132;
}

.alert-danger {
  padding: 10px 30px;
  border-color: pink;
  background-color: rgb(255, 218, 192);
  color: red;
}

.common-btn {
  background-color: rgb(58, 103, 250);
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  display: inline-block;
}

.common-btn:focus,
.common-btn:active,
.common-btn:hover {
  background-color: blue;
}

/* お気に入りボタン */
.favorite-btn--on,
.favorite-btn--off {
  width: 28px;
  height: 28px;
  position: relative;
  background-color: transparent;
  border: none;
}

.favorite-btn--on::before,
.favorite-btn--on::after,
.favorite-btn--off::before,
.favorite-btn--off::after {
  content: "";
  width: 50%;
  height: 80%;
  top: 10%;
  border-radius: 7px 7px 0 0;
  display: block;
  position: absolute;
  cursor: pointer;
  transition: background-color 0.3s;
}

.favorite-btn--on::before,
.favorite-btn--on::after {
  background-color: red;
}

.favorite-btn--off::before,
.favorite-btn--off::after {
  background-color: gainsboro;
}

.favorite-btn--on::before,
.favorite-btn--off::before {
  transform: rotate(-45deg);
  left: 14%;
}

.favorite-btn--on::after,
.favorite-btn--off::after {
  transform: rotate(45deg);
  right: 14%;
}

.favorite-btn--on:focus::before,
.favorite-btn--on:active::before,
.favorite-btn--on:hover::before,
.favorite-btn--on:focus::after,
.favorite-btn--on:active::after,
.favorite-btn--on:hover::after {
  background-color: gainsboro;
}

.favorite-btn--off:focus::before,
.favorite-btn--off:active::before,
.favorite-btn--off:hover::before,
.favorite-btn--off:focus::after,
.favorite-btn--off:active::after,
.favorite-btn--off:hover::after {
  background-color: red;
}
/* お気に入りボタン ここまで */