.main {
  margin: 20px 0 20px 8vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}

.search-form {
  margin: 20px 0;
}

.search-form__select {
  padding: 10px;
}

.shop-card {
  margin-top: 10px;
  min-width: 260px;
  width: 20vw;
  box-shadow: 2px 2px 3px #6c6b6b;
  border-radius: 5px;
  overflow: hidden;
  box-sizing: border-box;
}

.shop__img img {
  width: 100%;
}

.shop__contents {
  background-color: white;
  padding: 15px;
}

.shop__name {
  font-size: 18px;
  font-weight: 600;
}

.shop__tags {
  font-size: 12px;
  margin-bottom: 10px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}