/* 予約状況 */
.contents {
  margin: 20px 8vw;
  display: flex;
  justify-content: space-between;
}

.reservation-list {
  margin-top: 40px;
  margin-left: 10px;
}

.list-title {
  height: 30px;
  margin-bottom: 20px;
  min-width: 120px;
}

.reservation-card {
  width: 25vw;
  max-width: 400px;
  min-width: 300px;
  height: 250px;
  margin-bottom: 30px;
  padding: 15px;
  background-color: rgb(58, 103, 250);
  color: white;
  border-radius: 3px;
  box-shadow: 2px 2px 3px #6c6b6b;
}

.reservation-card__header {
  height: 25px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;
}

.reservation-card__header--inner {
  display: flex;
}

.reservation-card__header--title {
  margin-left: 10px;
}

.no-btn-shape {
  border: none;
  background-color: inherit;
}

.fa-clock {
  color: white;
}

.cancel-btn {
  width: 25px;
  height: 25px;
  font-size: 16px;
  border-radius: 50%;
  border: solid 2px white;
  color: inherit;
  background-color: rgb(58, 103, 250);
}

th.reservation-table__header {
  font-weight: 400;
  text-align: left;
  width: 120px;
  padding: 5px;
}

.reservation-btn {
  text-align: right;
  margin-top: 10px;
}

/* お気に入り店舗 */
.favorite-list {
  margin: 10px 0 20px 8vw;
  width: 100%;
}

.user-name {
  font-size: 25px;
  height: 30px;
  font-weight: 800;
}

.hidden-lg {
  display: none;
}

.favorite-list__items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 30px;
}

.shop-card {
  width: 220px;
  background-color: white;
  height: 250px;
  box-shadow: 2px 2px 3px #6c6b6b;
  border-radius: 5px;
  overflow: hidden;
  box-sizing: border-box;
}

.shop__img {
  height: 125px;
}

.shop__img img {
  width: 100%;
  height: 100%;
}

.shop__contents {
  background-color: white;
  padding: 10px;
  height: 115px;
}

.shop__name {
  font-size: 18px;
  font-weight: 600;
}

.shop__tags {
  font-size: 12px;
  margin-bottom: 10px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

/* レスポンシブデザイン */
@media screen and (max-width: 1250px) {
  .favorite-list__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 930px) {
  .favorite-list__items {
    display: block;
    margin-bottom: 30px;
  }

  .shop-card {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 660px) {
  .contents {
    margin: 20px 5vw;
    display: block;
  }

  .reservation-card {
    width: 90vw;
    }

  th.reservation-table__header {
    width: 80px;
  }

  .favorite-list {
    margin: 10px;
    width: 100%;
  }

  .hidden-sm {
    display: none;
  }

  .hidden-lg {
    display: block;
  }
}