input,
select {
  height: 25px;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin: 5px 0;
  padding: 5px;
}

input.date_form {
  width: 40%;
  max-width: 200px;
}

input.time_form,
select.number_form {
  width: 75%;
  max-width: 360px;
}

/* my_page.blade.php */
/* 予約状況 */
.contents {
  margin: 20px 8vw;
  display: flex;
  justify-content: space-between;
}

.reservation-list {
  margin-top: 40px;
  margin-left: 10px;
}

.list-title {
  height: 30px;
  margin-bottom: 20px;
}

.reservation-card {
  width: 25vw;
  max-width: 400px;
  min-width: 280px;
  height: 200px;
  margin-bottom: 30px;
  padding: 15px;
  background-color: rgb(58, 103, 250);
  color: white;
  border-radius: 3px;
  box-shadow: 2px 2px 3px #6c6b6b;
}

.reservation-card__header {
  height: 25px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;
}

.reservation-card__header--inner {
  display: flex;
}

.reservation-card__header--title {
  margin-left: 10px;
}

.no-btn-shape {
  border: none;
  background-color: inherit;
}

.fa-clock {
  color: white;
}

.cancel-btn {
  width: 25px;
  height: 25px;
  font-size: 16px;
  border-radius: 50%;
  border: solid 2px white;
  color: inherit;
  background-color: rgb(58, 103, 250);
}

th.reservation-table__header {
  font-weight: 400;
  text-align: left;
  width: 120px;
  padding: 5px;
}

.reservation-btn {
  text-align: right;
  margin-top: 10px;
}

/* modal */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #f4f4f4;
  margin: 20% auto;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}

@keyframes modalopen {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.modal-header h1 {
  margin: 1rem 0;
}

.modal-header {
  background: lightblue;
  padding: 3px 15px;
  display: flex;
  justify-content: space-between;
}

.modalClose {
  font-size: 2rem;
}

.modalClose:hover {
  cursor: pointer;
}

.modal-body {
  padding: 10px 20px;
  color: black;
}


/* お気に入り店舗 */
.favorite-list {
  margin: 10px 0 20px 8vw;
  width: 100%;
}

.user-name {
  font-size: 25px;
  height: 30px;
  font-weight: 800;
}

.hidden-lg {
  display: none;
}

.favorite-list__items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 30px;
}

.shop-card {
  width: 220px;
  background-color: white;
  height: 200px;
  box-shadow: 2px 2px 3px #6c6b6b;
  border-radius: 5px;
  overflow: hidden;
  box-sizing: border-box;
}

.shop__img {
  height: 100px;
}

.shop__img img {
  width: 100%;
  height: 100%;
}

.shop__contents {
  background-color: white;
  padding: 10px;
}

.shop__name {
  font-size: 18px;
  font-weight: 600;
}

.shop__tags {
  font-size: 12px;
  margin-bottom: 10px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

/* レスポンシブデザイン */
@media screen and (max-width: 1250px) {
  .favorite-list__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 930px) {
  .favorite-list__items {
    display: block;
    margin-bottom: 30px;
  }

  .shop-card {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 660px) {
  .contents {
    margin: 20px 5vw;
    display: block;
  }

  .reservation-card {
    width: 90vw;
    }

  th.reservation-table__header {
    width: 80px;
  }

  .favorite-list {
    margin: 10px;
    width: 100%;
  }

  .hidden-sm {
    display: none;
  }

  .hidden-lg {
    display: block;
  }
}